<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>网络安全大数据分析平台</title>
    <link rel="stylesheet" type="text/css" href="../Css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Css/main.css">

    <script type="text/javascript" src="../js/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/echart2/echarts-plain-map.min.js"></script>

    <script type="text/javascript" src="../js/demo.js"></script>
    <style type="text/css">

    </style>
</head>
<script type="text/javascript">
    $(function(){
        initDemo();
    });
</script>
<body>
<nav class="navbar navbar-default" role="navigation" style="background-color: #438eb9;border: 0;border-radius:0px">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-left: 150px">
            <img src="../Css/imgs/bigdata.png" style="float: left;margin-right: 5px;margin-top: 5px">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="/*font-family: SimHei;*/font-size: 18px" class="navbar-brand fontWhitecol" href="index.html">网络安全大数据分析平台</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav hoverbg">
                <li><a class="webActive fontWhitecol"  href="index.html">攻击源地址</a></li>
                <li><a class="fontWhitecol" href="attacktime.html">攻击时间</a></li>
                <li><a class="fontWhitecol" href="attacktools.html">攻击方式</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="padding-top: 20px">
    <h1 id="glyphicons" class="page-header">攻击源世界分布</h1>
    <div class="row">
        <div id="main2" class="col-xs-9" style="height:500px;"></div>
        <div class="col-xs-3">
            <h4>Top 5 国家</h4>
            <table class="table table-bordered table-hover table-striped table-fixed">
                <thead>
                <tr>
                    <th>国家</th>
                    <th>攻击次数</th>
                    <th>占比</th>
                </tr>
                <tbody>
                <tr><td>中国</td><td>73206</td><td>96.74%</td></tr>
                <tr><td>美国</td><td>2179</td><td>2.88%</td></tr>
                <tr><td>德国</td><td>114</td><td>0.15%</td></tr>
                <tr><td>马来西亚</td><td>46</td><td>0.06%</td></tr>
                <tr><td>泰国</td><td>40</td><td>0.05%</td></tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="container">
        <h1 id="glyphicons" class="page-header">攻击源国内分布</h1>
        <div class="row">
            <div id="main" class="col-xs-9" style="height:500px;"></div>
            <div class="col-xs-3">
                <h4>Top 5 省份</h4>
                <table  class="table table-bordered table-hover table-striped table-fixed">
                    <thead>
                    <tr>
                        <th>省份</th>
                        <th>访问次数</th>
                        <th>占比</th>
                    </tr>
                    <tbody>
                    <tr><td>北京</td><td>51807</td><td>68.46%</td></tr>
                    <tr><td>浙江</td><td>7308</td><td>9.66%</td></tr>
                    <tr><td>湖北</td><td>3057</td><td>4.04%</td></tr>
                    <tr><td>四川</td><td>2127</td><td>2.81%</td></tr>
                    <tr><td>黑龙江</td><td>1338</td><td>1.77%</td></tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="container">
        <h1 id="glyphicons" class="page-header">TOP10攻击地图</h1>
        <div class="row">
            <div id="main3" class="col-xs-12" style="height:500px;">

            </div>
        </div>
    </div>

    <div class="container">
        <h1 id="glyphicons" class="page-header">TOP10攻击网络</h1>
        <div class="row">
            <table  class="table table-bordered table-hover table-striped table-fixed">
                <thead>
                <tr>
                    <th>网络运营商</th>
                    <th>攻击次数</th>
                </tr>
                <tbody>
                <tr><td>北京奇虎科技有限公司联通节点</td><td>48749</td></tr>
                <tr><td>电信</td><td>3823</td></tr>
                <tr><td>联通</td><td>2506</td></tr>
                <tr><td>上海网宿科技股份有限公司电信CDN节点</td><td>2382</td></tr>
                <tr><td>电信ADSL</td><td>1934</td></tr>
                <tr><td>移动</td><td>1549</td></tr>
                <tr><td>上海网宿科技股份有限公司联通CDN节点</td><td>1259</td></tr>
                <tr><td>加利福尼亚州洛杉矶Emagine</td><td>1102</td></tr>
                <tr><td>世导科技</td><td>1004</td></tr>
                <tr><td>加利福尼亚州圣克拉拉县山景市谷歌公司</td><td>474</td></tr>
                <tr><td>华数传媒</td><td>285</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <h1 id="glyphicons" class="page-header">TOP10攻击网络</h1>
        <div class="row">
            <table  class="table table-bordered table-hover table-striped table-fixed">
                <thead>
                <tr>
                    <th>省份</th>
                    <th>访问次数</th>
                    <th>占比</th>
                </tr>
                <tbody>
                <tr><td>123.125.160.217</td><td>31428</td><td>41.53%</td></tr>
                <tr><td>123.125.160.215</td><td>17321</td><td>22.89%</td></tr>
                <tr><td>219.138.135.149</td><td>1246</td><td>1.65%</td></tr>
                <tr><td>64.78.164.242</td><td>1102</td><td>1.46%</td></tr>
                <tr><td>119.37.197.25</td><td>1004</td><td>1.33%</td></tr>
                <tr><td>115.231.132.51</td><td>1002</td><td>1.32%</td></tr>
                <tr><td>222.170.95.21</td><td>996</td><td>1.32%</td></tr>
                <tr><td>221.235.188.222</td><td>969</td><td>1.28%</td></tr>
                <tr><td>115.231.174.19</td><td>611</td><td>0.81%</td></tr>
                <tr><td>218.64.179.55</td><td>452</td><td>0.60%</td></tr>

                </tbody>
            </table>
            </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>