<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>大数据分析平台</title>
    <link rel="stylesheet" type="text/css" href="../Css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Css/main.css">

    <script type="text/javascript" src="../js/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/echart2/echarts-plain-map.min.js"></script>

    <script type="text/javascript" src="../js/demo.js"></script>

</head>
<script type="text/javascript">
    $(function(){
        initDemo();
    });

</script>
<body>
<nav class="navbar navbar-default" role="navigation" style="background-color: #438eb9;border: 0;border-radius:0px">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-left: 150px">
            <img src="../Css/imgs/bigdata.png" style="float: left;margin-right: 5px;margin-top: 5px">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="/*font-family: SimHei;*/font-size: 18px" class="navbar-brand fontWhitecol" href="index.html">大数据分析平台</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav hoverbg">
                <li><a class="webActive fontWhitecol"  href="index.html">攻击源地址</a></li>
                <li><a class="fontWhitecol" href="attacktime.html">攻击时间</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div id="main" class="col-xs-10" style="height:400px;"></div>
        <div class="col-xs-2">
            <h4>Top 5 省份</h4>
            <table  class="table table-bordered table-hover table-striped table-fixed">
                <thead>
                <tr>
                    <th>省份</th>
                    <th>访问次数</th>
                </tr>

                <tbody>
                <tr><td>北京</td><td>1671</td></tr>
                <tr><td>上海</td><td>812</td></tr>
                <tr><td>河北</td><td>460</td></tr>
                <tr><td>云南</td><td>411</td></tr>
                <tr><td>山东</td><td>255</td></tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="container" style="padding-top: 20px">
    <div class="row">
        <div id="main2" class="col-xs-10" style="height:400px;"></div>
        <div class="col-xs-2">
            <h4>Top 5 国家</h4>
            <table class="table table-bordered table-hover table-striped table-fixed">
                <thead>
                <tr>
                    <th>国家</th>
                    <th>访问次数</th>
                </tr>

                <tbody>
                    <tr><td>日本</td><td>32735</td></tr>
                    <tr><td>澳大利亚</td><td>22404</td></tr>
                    <tr><td>俄罗斯</td><td>21861</td></tr>
                    <tr><td>中国</td><td>13598</td></tr>
                    <tr><td>北朝鲜</td><td>1468</td></tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>